<div class="container-fluid leaderboardContainer">
    <div class="row scrollableLeaderboard">

        <div class="col-md-12">

            <div class="leaderboardEntry">

                <div class="rank first">1</div><!--/rank-->

                <div class="name">
                    Brendan Bell
                    <br />
                    <span>Applogix</span>
                </div><!--/name-->

                <div class="pointCount">
                    918
                    <br />
                    <span>points</span>
                </div><!--/pointCount-->

                <div class="clearfix"></div>

            </div><!--/leaderboardEntry-->

        </div><!--/col-->

        <div class="col-md-12">

            <div class="leaderboardEntry">

                <div class="rank">2</div><!--/rank-->

                <div class="name">
                    Wanda Stransky
                    <br />
                    <span>Applogix</span>
                </div><!--/name-->

                <div class="pointCount">
                    897
                    <br />
                    <span>points</span>
                </div><!--/pointCount-->

                <div class="clearfix"></div>

            </div><!--/leaderboardEntry-->

        </div><!--/col-->

        <div class="col-md-12">

            <div class="leaderboardEntry">

                <div class="rank">3</div><!--/rank-->

                <div class="name">
                    Monique Afonso
                    <br />
                    <span>Aqua</span>
                </div><!--/name-->

                <div class="pointCount">
                    745
                    <br />
                    <span>points</span>
                </div><!--/pointCount-->

                <div class="clearfix"></div>

            </div><!--/leaderboardEntry-->

        </div><!--/col-->

        <div class="col-md-12">

            <div class="leaderboardEntry">

                <div class="rank">4</div><!--/rank-->

                <div class="name">
                    Danele Roux
                    <br />
                    <span>Applogix</span>
                </div><!--/name-->

                <div class="pointCount">
                    683
                    <br />
                    <span>points</span>
                </div><!--/pointCount-->

                <div class="clearfix"></div>

            </div><!--/leaderboardEntry-->

        </div><!--/col-->

        <div class="col-md-12">

            <div class="leaderboardEntry">

                <div class="rank">5</div><!--/rank-->

                <div class="name">
                    Marc Allwright
                    <br />
                    <span>Applogix</span>
                </div><!--/name-->

                <div class="pointCount">
                    599
                    <br />
                    <span>points</span>
                </div><!--/pointCount-->

                <div class="clearfix"></div>

            </div><!--/leaderboardEntry-->

        </div><!--/col-->

        <div class="col-md-12">

            <div class="leaderboardEntry">

                <div class="rank">6</div><!--/rank-->

                <div class="name">
                    Lauren Pillay<Lauren@Applogix.co.za>
                    <br />
                    <span>Applogix</span>
                </div><!--/name-->

                <div class="pointCount">
                    534
                    <br />
                    <span>points</span>
                </div><!--/pointCount-->

                <div class="clearfix"></div>

            </div><!--/leaderboardEntry-->

        </div><!--/col-->

        <div class="col-md-12">

            <div class="leaderboardEntry">

                <div class="rank">7</div><!--/rank-->

                <div class="name">
                    Caleb Chavalala
                    <br />
                    <span>Aqua</span>
                </div><!--/name-->

                <div class="pointCount">
                    487
                    <br />
                    <span>points</span>
                </div><!--/pointCount-->

                <div class="clearfix"></div>

            </div><!--/leaderboardEntry-->

        </div><!--/col-->



        <div class="row noPadding myLeaderboardEntry">

            <div class="col-md-12">

                <div class="leaderboardEntry">

                    <div class="rank">15</div><!--/rank-->

                    <div class="name">
                        Cameron Oxley
                        <br />
                        <span>Company name</span>
                    </div><!--/name-->

                    <div class="pointCount">
                        238
                        <br />
                        <span>points</span>
                    </div><!--/pointCount-->

                    <div class="clearfix"></div>

                </div><!--/leaderboardEntry-->

                <button class="btn btn-lg btn-primary btn-block" type="submit">Start a game</button>

            </div><!--/col-->

        </div><!--/row-->

    </div> <!--/container-fluid-->
</div>