<div class="container-fluid profilePageTop">

    <div class="row statsContainer">

        <div class="col-md-12">

            <div class="scoreCards">01</div>

            <div class="scoreCards">73</div>

            <p>Points</p>

        </div><!--/col-->

    </div><!--/row-->

    <div class="row gameStats">

        <div class="col-xs-4 wins">

            <p class="total">54</p>

            <p>Wins</p>

        </div><!--/col-->

        <div class="col-xs-4 losses">

            <p class="total">26</p>

            <p>Losses</p>

        </div><!--/col-->

        <div class="col-xs-4 played">

            <p class="total">80</p>

            <p>Played</p>

        </div><!--/col-->

    </div><!--/row-->

</div> <!--/container-fluid-->

<div class="container-fluid">

    <!--Call to actions-->

    <div class="row profileButtons">

        <div class="col-md-12">

            <button class="btn btn-lg btn-primary btn-block" type="submit" ui-sref="whoIsPlaying">Who's playing</button>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Start a game</button>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Join a game</button>

        </div><!--/col-->

    </div><!--/row-->

</div> <!--/container-fluid-->