<div class="container-fluid">

    <!--Call to actions-->

    <div class="row whosPlaying">

        <div class="col-md-12">

            <h2>
                Brendan Bell
                <br />
                <span>Applogix</span>
            </h2>

            <p>Ranked 105<sup>th</sup></p>

            <div class="vsLine">
                <p>VS</p>
            </div>

            <h2>
                Monique Afonso
                <br />
                <span>Aqua</span>
            </h2>

            <p>Ranked 105<sup>th</sup></p>


        </div><!--/col-->

    </div><!--/row-->

    <!--Call to actions-->

    <div class="row profileButtons whosPlayingButtons">

        <div class="col-md-12">

            <button class="btn btn-lg btn-primary btn-block" type="submit" ui-sref="leaderBoard">View the leaderboard</button>

        </div><!--/col-->

    </div><!--/row-->

</div> <!--/container-fluid-->