<div class="container-fluid">

    <!--Call to actions-->

    <div class="row whosPlaying openTable">

        <div class="col-md-12">

            <p><i class="glyphicon glyphicon-ok-circle"></i></p>

            <h2>The table is currenly open.</h2>

        </div><!--/col-->

    </div><!--/row-->

    <!--Call to actions-->

    <div class="row profileButtons whosPlayingButtons">

        <div class="col-md-12">

            <button class="btn btn-lg btn-primary btn-block" type="submit">Start a game</button>

            <button class="btn btn-lg btn-primary btn-block" type="submit" ui-sref="leaderBoard">View the leaderboard</button>

        </div><!--/col-->

    </div><!--/row-->

</div> <!--/container-fluid-->